.pagina-ex8 {
     
  
    .ex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
        margin-top: 3rem;
        padding-bottom: 7rem;
        .card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 476px;
            height: 187px;
            background-color: #fff;
            border-radius: 12px;
            box-shadow: 0px 7px 15px #adadad59;

            h2 {
                font: 700 16px 'Roboto';
                color: #383131;
                margin-bottom: 10px;
                margin-top: 1rem;
                margin-left: 2rem;
                
            }

            input {
                max-width: 414px;
                width: 100%;
                padding: 14px 10px;
                border-radius:  12px;
                border: 1px solid #A5A5A5;
                font: 400 14px 'Roboto' ;
                margin-left: 2rem;
                margin-bottom: 1rem;
                outline: none;
            }
            p {
                font: 500 14px 'Roboto';
                color: #a50d0d;
                margin-left: 2rem;
            }

            div {
                display: flex;
                justify-content: right;
                margin-right: 2rem;
            }
            button {
                
                padding: 16px 85px;
                background-color: #6278F7;
                font: 500 14px 'Roboto';
                color: #fff;
                border-radius: 12px;
                border: 1px solid #6278F7;
                margin-top: 1rem;
                margin-bottom: 1rem;


            }
            button:hover{

                background-color: #4d5ec0;
            }
        }

       
        .final {

            margin-left: 7rem;
            margin-top: 0.5rem;
   
            h3 {
               font: 700 18px 'Roboto';
               color: #383131;
            }
   
               
           }
        
    }
}