

.pagina-ex1 {

    min-height: 100vh;

    background-color: #F5F6FA;
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        
        padding: 20px 50px;
        background-color: #6278F7;

        h1 {
            font: 700 20px 'Roboto';
            color: #fff; 
            margin-left: 40px;
            
        }

        nav  {
            display: flex;
            flex-direction: row;
            margin-left: 60rem;
            gap: 20px;

            h2 {
                font: 400 20px 'Roboto';
                color: #fff;
                
            }

            a,a:visited,a:link { 
                text-decoration: none; 
            }
        }


        img {
            width: 50px;
            height: 60px;
            margin-left: 40px;
        }
    }

    .titulo {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 6rem;
        margin-right: 6rem;
        margin-top: 4rem;
        gap: 15px;

        img {
            width: 40px;
            height: 40px;
        }

        h1 {
            font: 700 26px 'Roboto';
            color: #383131;
        }
    }

    .divisao {
        background-color: #FFCE37;
        width: 1280px;
        height: 4px;
        border-radius: 12px;
        margin-left: 6rem;
        margin-top: 20px;
    }

    .quadro {
        background-color: #fff;
        width: 1275px;
        height: 213px;
        margin-left: 6rem;
        border-radius: 12px;
        margin-top: 3rem;


        p {
            font: 400 16px 'Roboto';
            text-align: center;
            padding-top: 5rem;
            
        }
    }

    .ex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
        margin-top: 3rem;
        padding-bottom: 7rem;
        .card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 476px;
            height: 295px;
            background-color: #fff;
            border-radius: 12px;
            box-shadow: 0px 7px 15px #adadad59;

            h2 {
                font: 700 16px 'Roboto';
                color: #383131;
                margin-bottom: 10px;
                margin-left: 2rem;
                
            }

            input {
                max-width: 414px;
                width: 100%;
                padding: 14px 10px;
                border-radius:  12px;
                border: 1px solid #A5A5A5;
                outline: none;
                font: 400 14px 'Roboto' ;
                margin-left: 2rem;
                margin-bottom: 1rem;
            }

            div {
                display: flex;
                justify-content: right;
                margin-right: 2rem;
            }
            button {
                
                padding: 16px 85px;
                background-color: #6278F7;
                font: 500 14px 'Roboto';
                color: #fff;
                border-radius: 12px;
                border: 1px solid #6278F7;
                margin-top: 1rem;


            }
            button:hover{

                background-color: #4d5ec0;
            }
        }

        h3 {
            font: 700 16px 'Roboto';
            color: #383131;
            margin-top: 1rem;
            margin-left: 15rem;
        }
    }

}