

.pagina-inicio {

   
    section {
        display: flex;
        flex-direction: column;
        margin-top: 4rem;
        margin-left: 6rem;
        margin-right: 6rem;
        padding-bottom: 4rem;
        gap: 2rem;

        h1 {
            font: 700 26px 'Roboto';
        }

        .exercicios {
           display: flex;
           flex-wrap: wrap;
           justify-content: center;
           gap: 50px;

        }


    }
}