

.pagina-inicio {

   
    section {
        display: flex;
        flex-direction: column;
        margin-top: 4rem;
        margin-left: 6rem;
        margin-right: 6rem;
        gap: 2rem;

        h1 {
            font: 700 26px 'Roboto';
        }

        .exercicios {
            display: flex;
            flex-direction: row;
            gap: 3.5rem;


           .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 12px;
            

             background-color: #fff;
             width: 215px;
             height: 158px;
             border-radius: 12px;

            .um {
                background-color: #FFCE37;
                width: 60px;
                height: 60px;
                border-radius: 12px;

            }

            .dois {
                background-color: #B3FF37;
                width: 60px;
                height: 60px;
                border-radius: 12px;

            }
            
            .tres {
                background-color: #37FFF3;
                width: 60px;
                height: 60px;
                border-radius: 12px;

           }

           .quatro {
                background-color: #ED553B;
                width: 60px;
                height: 60px;
                border-radius: 12px;
           }

           .cinco {
                background-color: #FFE0E9;
                width: 60px;
                height: 60px;
                border-radius: 12px;
           }

            
             a,a:visited, a:link {
                text-decoration: none;
                font: 700 10px 'Roboto';
                color: #383131;
             }

             h3 {
                font: 500 14px 'Roboto';
                color: #685e5e;
             }
           }
        }

        .exercicios-2 {

            display: flex;
            flex-direction: row;
            gap: 3.5rem;
            
            .card {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 12px;
                
    
                 background-color: #fff;
                 width: 215px;
                 height: 158px;
                 border-radius: 12px;

                 .seis {
                    background-color: #6E8658;
                    width: 60px;
                    height: 60px;
                    border-radius: 12px;
                 }
                 
                 
                 a,a:visited, a:link {
                    text-decoration: none;
                    font: 700 10px 'Roboto';
                    color: #383131;
                 }
    
                 h3 {
                    font: 500 14px 'Roboto';
                    color: #685e5e;
                 }
                 
            }
        }
    }
}